body {
    background-color: burlywood;
}
h1 {
    background-color: beige;
    color:darkslategray
}
h2, p, ol{
     background-color: lightcoral;
     color:antiquewhite
}
div h1 {
    background-color: aqua;
}